/* DATA */

#filtered_data_container {
  font-size: x-small;
  padding-top: 1em;
} 

#filtered_data_container table thead tr th,
#filtered_data_container table tbody tr td {
  padding-top: 2px !important;
  padding-bottom: 1px !important;
  line-height: 1em;
}

#filtered_data_container table thead tr th:nth-child(1),
#filtered_data_container table thead tr th:nth-child(2) {
  min-width: 50px;
}

#filtered_data_container table thead tr th:nth-child(7),
#filtered_data_container table tbody tr td:nth-child(7) {
  min-width: 40px;
}

/* #filtered_data_container table thead tr th:nth-child(3), */
/* #filtered_data_container table thead tr th:nth-child(6), */
/* #filtered_data_container table thead tr th:nth-child(7), */
#filtered_data_container table thead tr th:nth-child(14) {
  min-width: 70px;
}

#filtered_data_container table thead tr th:nth-child(4) {
  min-width: 150px;
}

#filtered_data_container table thead tr th:nth-child(5) {
  min-width: 100px;
}

#filtered_data_container table thead tr th:nth-child(15),
#filtered_data_container table thead tr th:nth-child(17),
#filtered_data_container table thead tr th:nth-child(19) {
  min-width: 50px;
}

#filtered_data_container table thead tr th:nth-child(16),
#filtered_data_container table thead tr th:nth-child(18) {
  min-width: 60px;
}

#filtered_data_container table tbody tr td:nth-child(3),
#filtered_data_container table tbody tr td:nth-child(6),
#filtered_data_container table tbody tr td:nth-child(7),
#filtered_data_container table tbody tr td:nth-child(8),
#filtered_data_container table tbody tr td:nth-child(9),
#filtered_data_container table tbody tr td:nth-child(10),
#filtered_data_container table tbody tr td:nth-child(14),
#filtered_data_container table tbody tr td:nth-child(16),
#filtered_data_container table tbody tr td:nth-child(18),
#filtered_data_container table tbody tr td:nth-child(19) {
  text-align: center !important;
}

/* SUMMARY */

#filtered_summary_container {
  font-size: x-small;
  padding-top: 1em;
}

#filtered_summary_container table thead tr th, 
#filtered_summary_container table tbody tr td {
  padding-top: 2px !important;
  padding-bottom: 1px !important;
  line-height: 1em;
}

#filtered_summary_container .dataTables_scrollBody table {
  float: left;
}

#filtered_summary_container table thead tr th,
#filtered_summary_container table tbody tr td {
  min-width: 10px;
  text-align: center;
}

#filtered_summary_container table thead tr th:nth-child(1),
#filtered_summary_container table tbody tr td:nth-child(1) {
  min-width: 100px;
  text-align: left;
}

#filtered_summary_container table thead tr th:nth-child(2),
#filtered_summary_container table tbody tr td:nth-child(2),
#filtered_summary_container table thead tr th:nth-child(3),
#filtered_summary_container table tbody tr td:nth-child(3),
#filtered_summary_container table thead tr th:nth-child(4),
#filtered_summary_container table tbody tr td:nth-child(4) {
  min-width: 40px;
}

/* DETAILED SUMMARY */

#filtered_detailed_summary_container {
  font-size: x-small;
  padding-top: 1em;
}

#filtered_detailed_summary_container table thead tr th, 
#filtered_detailed_summary_container table tbody tr td {
  padding-top: 2px !important;
  padding-bottom: 1px !important;
  line-height: 1em;
}

#filtered_detailed_summary_container .dataTables_scrollBody table {
  float: left;
}

#filtered_detailed_summary_container table thead tr th,
#filtered_detailed_summary_container table tbody tr td {
  min-width: 10px;
  text-align: center;
}

#filtered_detailed_summary_container table thead tr th:nth-child(1),
#filtered_detailed_summary_container table tbody tr td:nth-child(1) {
  min-width: 100px;
  text-align: left;
}

#filtered_detailed_summary_container table thead tr th:nth-child(5),
#filtered_detailed_summary_container table tbody tr td:nth-child(5),
#filtered_detailed_summary_container table thead tr th:nth-child(6),
#filtered_detailed_summary_container table tbody tr td:nth-child(6),
#filtered_detailed_summary_container table thead tr th:nth-child(7),
#filtered_detailed_summary_container table tbody tr td:nth-child(7) {
  min-width: 40px;
}

#filtered_detailed_summary_container table thead tr th:nth-child(8),
#filtered_detailed_summary_container table tbody tr td:nth-child(8) {
  min-width: 20px;
}

/* LAYOUT ETC. */

.nav-tabs li {
    min-width: 128px;
    text-align: center;
}

.dataTables_paginate {
  float: left !important;
  margin-left: calc(20vw - 2em);
}

#glasspane {
	position: fixed;

	height: 100%;
	width: 100%;

	background-color: #99999933;

	z-index: 10000;
}

.loading {
	width: 320px;

	color: black;
	background-color: white;

	font-weight: bold;
	font-size: 100%;

	padding: 1em;
	margin-left: calc(50vw - 160px);
	margin-top: calc(40vh);

	text-align: center;

	border-radius: 1em;
	border: 2px solid gray;

	-webkit-box-shadow: -1px 10px 25px -11px rgba(0,0,0,0.75);
	-moz-box-shadow:    -1px 10px 25px -11px rgba(0,0,0,0.75);
	box-shadow:         -1px 10px 25px -11px rgba(0,0,0,0.75);
 }

.vscomp-dropbox-container  {
  z-index:99999 !important;
}
