/* DATA */

#filtered_data_container {
  font-size: x-small;
  padding-top: 1em;
} 

#filtered_data_container table thead tr th,
#filtered_data_container table tbody tr td {
  padding-top: 2px !important;
  padding-bottom: 1px !important;
  line-height: 1em;
}

/* Default cell width + alignment */
#filtered_data_container table thead tr th,
#filtered_data_container table tbody tr td {
  min-width: 10px;
}

#filtered_data_container table thead tr th:nth-child(n + 3), 
#filtered_data_container table tbody tr td:nth-child(n + 3):nth-child(-n + 9),
#filtered_data_container table tbody tr td:nth-child(n + 12):nth-child(-n + 13),
#filtered_data_container table tbody tr td:nth-child(15), 
#filtered_data_container table tbody tr td:nth-child(n + 17):nth-child(-n + 19) {
  text-align: center;
}

/* Flag name & fleet code */
#filtered_data_container table thead tr th:nth-child(-n + 2) {
  min-width: 150px;
}

#filtered_data_container table thead tr th:nth-child(n + 3):nth-child(-n + 19) {
  min-width: 35px;
}

#filtered_data_container table thead tr th:nth-child(n + 20) {
  min-width: 40px;
}

/* SUMMARY */

#filtered_summary_container .dataTables_scrollBody table {
  float: left;
}

#filtered_summary_container {
  font-size: x-small;
  padding-top: 1em;
}

#filtered_summary_container table thead tr th, 
#filtered_summary_container table tbody tr td {
  padding-top: 2px !important;
  padding-bottom: 1px !important;
  line-height: 1em;
}

/* Default cell width + alignment */
#filtered_summary_container table thead tr th,
#filtered_summary_container table tbody tr td {
  min-width: 10px;
}

#filtered_summary_container table thead tr th:nth-child(n + 2),
#filtered_summary_container table tbody tr td:nth-child(n + 2) {
  text-align: center;
}
 
/* Flag name */
#filtered_summary_container table thead tr th:nth-child(1) {
  min-width: 150px;
}

/* Gear group & catch unit & dataset type */
#filtered_summary_container table thead tr th:nth-child(n + 2):nth-child(-n + 4) {
  min-width: 40px;
}

/* DETAILED SUMMARY */

#filtered_detailed_summary_container .dataTables_scrollBody table {
  float: left;
}

#filtered_detailed_summary_container {
  font-size: x-small;
  padding-top: 1em;
}

/* Default cell width + alignment */
#filtered_detailed_summary_container table thead tr th, 
#filtered_detailed_summary_container table tbody tr td {
  padding-top: 2px !important;
  padding-bottom: 1px !important;
  line-height: 1em;
}

#filtered_detailed_summary_container table thead tr th,
#filtered_detailed_summary_container table tbody tr td {
  min-width: 10px;
}

#filtered_detailed_summary_container table thead tr th:nth-child(n + 3),
#filtered_detailed_summary_container table tbody tr td:nth-child(n + 3) {
  text-align: center;
}

/* Flag name & fleet code */
#filtered_detailed_summary_container table thead tr th:nth-child(-n + 2) {
  min-width: 150px;
}

/* Gear group & Gear & Time period & Square & Effort unit I & Effort unit II & Catch unit & Dataset type */
#filtered_detailed_summary_container table thead tr th:nth-child(n + 3):nth-child(-n + 10),
#filtered_detailed_summary_container table tbody tr td:nth-child(n + 3):nth-child(-n + 10) {
  min-width: 40px;
}

/* LAYOUT ETC. */

.nav-tabs li {
    min-width: 128px;
    text-align: center;
}

.dataTables_paginate {
  float: left !important;
  margin-left: calc(20vw - 2em);
}

#glasspane {
	position: fixed;

	height: 100%;
	width: 100%;

	background-color: #99999933;

	z-index: 10000;
}

.loading {
	width: 320px;

	color: black;
	background-color: white;

	font-weight: bold;
	font-size: 100%;

	padding: 1em;
	margin-left: calc(50vw - 160px);
	margin-top: calc(40vh);

	text-align: center;

	border-radius: 1em;
	border: 2px solid gray;

	-webkit-box-shadow: -1px 10px 25px -11px rgba(0,0,0,0.75);
	-moz-box-shadow:    -1px 10px 25px -11px rgba(0,0,0,0.75);
	box-shadow:         -1px 10px 25px -11px rgba(0,0,0,0.75);
 }

.vscomp-dropbox-container  {
  z-index:99999 !important;
}
